body{
    margin: 0;
}

.block-bar{
    z-index: 99;
    display: block;
    position: fixed;
    margin-top: 0;
    width: 100%;
}

.topbar{
    height: 100px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
}

.central-div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: left;
    position: absolute;
    margin-top: 100px;
    height: auto;
    width: 100%;
    /* border: 2px solid red; */
}

.block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    /* border: 3px solid blue; */
    border-bottom: 1px solid black;
    height: 300px;
    width: 100%;
    padding-top: 30px;
}

p{
    position: absolute;
    color: black;
    font-size: large;
    margin-left: 50px;
}

span{
    font-size: 40px;
    /* background-color: aquamarine; */
    opacity: 10%;
}

.intern-face{
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

h3{
    /* background-color: bisque; */
    width: 200px;
    height: 20px;
}

h5, h6{
    margin: 2px 40px;
}

h6{
    opacity: 50%;
}

.img-left{
    width: 100px;
    height: auto;
}

.cont-left{
    /* border: 1px solid black; */
    width: 60%;
    height: 1000px;
    padding-left: 30px;
    padding-top: 30px;
}

.cont-right{
    /* border: 5px solid green; */
    width: 29%;
    height: 300px;
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: sticky;
    top: 100px;
}

.num{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /* border: 1px solid orange; */
    width: 29%;
    height: 130px;
    margin: 1px;
}

.num-left{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid orange; */
    width: auto;
    height: 130px;
    margin: 1px;
}

.num-left-intern{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid orange; */
    width: auto;
    height: 130px;
    margin: 1px;
}

.intern-img{
    width: 270px;
    height: 130px;
}


.pointer{
    cursor: pointer;
}

.logo{
    width: 50%;
    margin-left: 20px;
}

.search, .bookmark, .bell{
    text-align: center;
    margin: 10px;
}

.rm{
    line-height: 30px;
    margin: 20px;
    /* border:1px solid black; */
    border-radius: 30px;
    white-space: nowrap;
    height: 30px;
    padding: 0 15px;
}

div.cont-right .rm{
    background-color: gainsboro;
    padding: 1px 3px;
}

.circle{
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
}